<div class="container">
  <div class="row justify-content-center">
    <col-6 class="col-md-7">
      <h1>New Schedule of living area <%= @room.name %></h1>
      <%= simple_form_for [ @room, @schedule ] do |f| %>
        <%= f.input :start_time, :minute_step => 30 %>
        <%= f.input :end_time, :minute_step => 30  %>
        <% if policy(@room.building).index? %>
          <%= f.input :user_id, :collection => @users.uniq, :label_method => :name, :value_method => :id, :label => "User", selected: @schedule.user_id %>
        <% end %>
        <%= f.button :submit %>
      <% end %> 
    </col-6>
  </div>
  <button type="button" class="btn btn-light"><%= link_to 'Back', room_path(@room.id) %></button>
</div>
