<div class="container">
  <div class="row justify-content-center">
    <col-6 class="col-md-8">
    <div class="card-schedule mt-3">
      <h1><%= @schedule.room.name %></h1>
      <% if policy(@schedule).edit? %>
        <button type="button" class="btn btn-light"><%= link_to "Edit", edit_schedule_path(@schedule) %></button>
        <button type="button" class="btn btn-light"><%= link_to "Delete", schedule_path(@schedule), method: :delete, data: {confirm: "Are you sure?"} %></button>
      <% end %>
      <p class="mt-3"><strong>Booked by:</strong>  <%= @schedule.user.name %> from apto <%= @schedule.user.apartments.find_by(building_id: @schedule.room.building_id).apt_number %></p>
      <p><strong>Price:</strong>  R$<%= @schedule.room.price %></p>
      <p><strong>Period:</strong> from <%= readable_time(@schedule.start_time) %> to <%= readable_time(@schedule.end_time) %></p>
      <p><strong>Created at:</strong>  <%= readable_time(@schedule.created_at) %></p>
      <% if @schedule.created_at < @schedule.updated_at %>
          <p><strong>Updated at:</strong> <%= readable_time(@schedule.updated_at) %></p>
      <% end %>

      <div class="mt-5 mb-3">
      <h3 class="text-center">Payment</h3>
      <div class="text-center mb-2">
        <%= form_tag orders_path(:param_1=>"schedule"), method: :post %>
        <%= hidden_field_tag 'apartment_id', @schedule.id %>
        <%= submit_tag 'Create Payment', class: 'btn btn-light' %>
      </div>

      <% unless @orders.nil? %>
      <table class="table table-borderless">
          <thead class="thead-light">
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Status.</th>
            <th scope="col">Value</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%= order.created_at.to_date %></td>
              <td><%= order.state.capitalize %></td>
              <td>R$<%= order.amount %></td>
              <td><button type="button" class="btn btn-light"><%= link_to "Pay", new_order_payment_path(order, apartment_id: @schedule.id, :param_1=>"schedule") %></button></td>
            </tr>
          <% end %>
        </tbodyd>
      </table>
      <% end %>

    </div>
    <button type="button" class="btn btn-light mt-2"><%= link_to 'Back', room_path(@schedule.room.id) %></button>
    </col-6>
  </div>
</div>
