<div class="container">
  <div class="row justify-content-center">
    <col-4 class="col-md-6">
      <h1>Edit <%= @building.building_name %></h1>
      <%= simple_form_for @building do |f| %>
        <%= f.input :building_name %>
        <%= f.input :super_name %>
        <%= f.input :super_email %>
        <%= f.input :zipcode %>
        <%= f.input :city %>
        <%= f.input :province %>
        <%= f.country_select :country, {priority_countries: ["BR"]}, class: 'form-control' %>
        <%= f.button :submit %>
      <% end %>
    </col-4>
  </div>
  <button type="button" class="btn btn-light"><%= link_to 'Back', buildings_path %></button>
</div>
