<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 col-md-8">
      <h1>Buildings</h1>
      <button type="button" class="btn btn-light"><%= link_to 'Add New Building', new_building_path %></button>
      <table class="table">
      <thead>
      <tr>
        <th scope="col">Building</th>
        <th scope="col">Location</th>
        <th scope="col">Default Rate</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
        <% @buildings.each do |building| %>
        <tr>
          <th><%= link_to building.building_name, building_path(building) %></th>
          <td><%= building.city %>/<%= building.province %></td>
          <td><%= building.default_rate %>%</td>
          <td>
            <%= link_to "Edit", edit_building_path(building) %>
            <%= link_to "Delete", building_path(building), method: :delete, data: {confirm: "Are you sure?"} %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <button type="button" class="btn btn-light"><%= link_to 'Back', root_path %></button>
    </div>
  </div>
</div>
