<div class="container">
  <div class="row justify-content-center">
    <col-6 class="col-md-8">
      <h1><%= @room.name %> at <%= @room.building.building_name %></h1>
      <h4>Price: R$<%= @room.price %></h4>
      <% if policy(@room).edit? %>
        <button type="button" class="btn btn-light"><%= link_to "Edit", edit_room_path(@room) %></button>
        <button type="button" class="btn btn-light"><%= link_to "Delete", room_path(@room), method: :delete, data: {confirm: "Are you sure?"} %></button>
      <% end %>
      <h3>Schedules</h3>
      <button type="button" class="btn btn-light">
        <%= link_to 'New Schedule', new_room_schedule_path(@room) %>
      </button>   

      <div class="bg-white mb-4 shadow rounded mt-4">
        <ul id="nav-tab" class="nav nav-tabs">

          <li class="nav-item active">
            <%= link_to "#s-calendar", "data-toggle" => "tab", class: "nav-link active" do %>
              Calendar
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to "#all-schedules", "data-toggle" => "tab", class: "nav-link" do %>
              All Schedules
            <% end %>
          </li>
        </ul>

        <div class="tab-content clearfix mx-3">
          <div id="all-schedules" class="tab-pane fade">
            <table class="table table-borderless mt-3">
              <thead class="thead-light">
              <tr>
                <th scope="col">Start</th>
                <th scope="col">End</th>
                <th scope="col">Apto</th>
                <th scope="col">Actions</th>
              </tr>
              </thead>
              <tbody>
                <% @room.schedules.each do |schedule| %>
                  <tr>
                    <% unless schedule.user.apartments.find_by(building_id: schedule.room.building_id).nil? %>
                      <td><%= readable_time(schedule.start_time) %></td>
                      <td><%= readable_time(schedule.end_time) %></td>
                      <td><%= schedule.user.apartments.find_by(building_id: schedule.room.building_id).apt_number %></td>
                      <td><button type="button" class="btn btn-light"><%= link_to "Detail", schedule_path(schedule) %></button>
                      <% if policy(schedule).edit? %>
                        <button type="button" class="btn btn-light"><%= link_to "Edit", edit_schedule_path(schedule) %></button>
                        <button type="button" class="btn btn-light"><%= link_to "Delete", schedule_path(schedule), method: :delete, data: {confirm: "Are you sure?"} %></button>       
                      <% end %></td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table> 
          </div>

          <div id="s-calendar" class="tab-pane fade show active">
            <div id="schedule-calendar">
              <%= render "calendar", schedules: @room.schedules %>
            </div>
          </div>
        </div>
      </div>
    <button type="button" class="btn btn-light"><%= link_to 'Back', building_path(@room.building.id) %></button>
    </col-6>
  </div>
</div>
