<div class="container">
  <div class="row justify-content-center">
    <col-6 class="col-md-8">
      <% @apartments.each do |apartment| %>
        <h2><%= apartment.building.building_name %></h2>
        <h3>Apto: <%= apartment.apt_number %></h3>
        <button type="button" class="btn btn-light"><%= link_to "Edit", edit_apartment_path(apartment) %></button>
        <button type="button" class="btn btn-light"><%= link_to "Delete", apartment_path(apartment), method: :delete, data: {confirm: "Are you sure?"} %></button>
        <p>Bill: <%= apartment.bill %></p>
        <p>Total Unpaid: <%= @unpaid %></p>
        <p>Total Unpaid and Overdue: <%= @unpaid_delay %></p>
    <% end %>