<div class="container">
  <div class="row justify-content-center">
    <col-6 class="col-md-10">
      <h1>My Apartments</h1>
      <table class="table table-borderless mt-3">
          <thead class="thead-light">
          <tr>
            <th scope="col"></th>
            <th scope="col">Building</th>
            <th scope="col">Apartment</th>
            <th scope="col">Owner</th>
            <th scope ="col">Bill</th>
            <th scope="col">Unpaid in Due</th>
            <th scope="col">Unpaid Overdue</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @apartments.each do |apartment|%>
            <tr>
              <td><%= cl_image_tag apartment.building.photo.key, height: 100, width: 70, crop: :fill %></td>
              <td><%= link_to apartment.building.building_name, building_path(apartment.building) %></td>
              <td><%= apartment.apt_number %></td>
              <td><%= apartment.user.name %></td>
              <td><%= apartment.bill%></td>
              <td><%= apartment.unpaid %></td>
              <td><%= apartment.unpaid_delay %></td>
              <td><%= link_to "More info", apartment_path(apartment) %></button></td>
            </th>
            </td>
          <%end%>
      </table>
    </col-6>
  </div>
</div>
