<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
    xmlns:o="urn:schemas-microsoft-com:office:office"
    xmlns:x="urn:schemas-microsoft-com:office:excel"
    xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
    xmlns:html="http://www.w3.org/TR/REC-html40">
    <Worksheet ss:Name="Sheet1">
        <Table>
            <Row>
                <Cell><Data ss:Type="String">Building</Data></Cell>
                <Cell><Data ss:Type="String">Apto Number</Data></Cell>
                <Cell><Data ss:Type="String">Bill ($)</Data></Cell>
                <Cell><Data ss:Type="String">Owner Name</Data></Cell>
                <Cell><Data ss:Type="String">Owner E-mail</Data></Cell>
            </Row>
        <% @apartments.each do |apartment| %>
            <Row>
                <Cell><Data ss:Type="String"><%= apartment.building.building_name %></Data></Cell>
                <Cell><Data ss:Type="Integer"><%= apartment.apt_number %></Data></Cell>
                <Cell><Data ss:Type="Integer"><%= apartment.bill %></Data></Cell>
                <Cell><Data ss:Type="String"><%= apartment.user.name %></Data></Cell>
                <Cell><Data ss:Type="String"><%= apartment.user.email %></Data></Cell>
            </Row>
        <% end %>
        </Table>
    </Worksheet>
</Workbook>