<table class="table">
    <thead>
    <tr>
      <th scope="col">Building</th>
      <th scope="col">Apartment</th>
      <th scope="col">Owner</th>
      <th scope ="col">Bill</th>
      <th scope="col">Unpaid in Due</th>
      <th scope="col">Unpaid Overdue</th>
      <th scope="col">More info</th>
    </tr>
  </thead>
  <tbody>
    <% @apartments.each do |apartment|%>
      <tr>
        <td><%= apartment.building.building_name %></td>
        <td><%= apartment.apt_number %></td>
        <td><%= apartment.user.name %></td>
        <td><%= apartment.bill%></td>
        <td><%= apartment.unpaid %></td>
        <td><%= apartment.unpaid_delay %></td>
        <td><%= link_to "More info", apartment_path(apartment) %></button></td>
      </th>
      </td>
    <%end%>
</table>
