<div class="container">
  <div class="row justify-content-center">
    <col-6 class="col-md-10">
      <h1>My Apartments</h1>
      <table class="table table-borderless mt-3">
          <thead class="thead-light">
          <tr>
            <th scope="col"></th>
            <th scope="col">Building</th>
            <th scope="col">Apartment</th>
            <th scope="col">Owner</th>
            <th scope ="col">Bill</th>
            <th scope="col">Unpaid</th>
            <th scope="col">Overdue</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @apartments.each do |apartment|%>
            <tr>
              <td><%= cl_image_tag apartment.building.photo.key, height: 100, width: 70, crop: :fill %></td>
              <td><%= link_to apartment.building.building_name, building_path(apartment.building) %></td>
              <td><%= apartment.apt_number %></td>
              <td><% unless current_user == apartment.user.name %><%= apartment.user.name %><% end %></td>
              <td><%= apartment.bill_cents %></td>
              <td><%= apartment.unpaid %></td>
              <td><%= apartment.unpaid_delay %></td>
              <td><% if policy(apartment.building).edit? %>
              <button type="button" class="btn btn-light"><%= link_to "Edit", edit_apartment_path(apartment) %></button>
              <button type="button" class="btn btn-light"><%= link_to "Delete", apartment_path(apartment), method: :delete, data: {confirm: "Are you sure?"} %></button>
              <% end %>
              <button type="button" class="btn btn-light"><%= link_to "Details", apartment_path(apartment) %></button></td>
            </tr>
            </td>
          <%end%>
      </table>
    </col-6>
  </div>
</div>
