<div class="container">
  <div class="row justify-content-center">
    <col-4 class="col-md-6">
      <h1 class="mb-3">New Apartment at <%= @building.building_name %></h1>
      <%= simple_form_for [ @building, @apartment] do |f| %>
        <%= f.input :apt_number %>
        <%= f.input :bill %>
        <%= f.input :user_id, :collection => @users, :label_method => :name, :value_method => :id, :label => "User", selected: @apartment.user_id  %>
        <%= f.button :submit %>
      <% end %>
    </col-4>
  </div>
  <button type="button" class="btn btn-light"><%= link_to 'Back', building_path(@building.id) %></button>
</div>
