<div class="container">
  <div class="row justify-content-center">
    <col-6 class="col-md-8">
      <% if policy(@apartment).admin_view? %>
        <h2>Apartment Info</h2>
        <h4>Building: <%= @apartment.building.building_name %></h4>
        <h4>Apto: <%= @apartment.apt_number %></h4>
        <button type="button" class="btn btn-light"><%= link_to "Edit", edit_apartment_path(@apartment) %></button>
        <button type="button" class="btn btn-light"><%= link_to "Delete", apartment_path(@apartment), method: :delete, data: {confirm: "Are you sure?"} %></button>
        <p>Owner: <%= @apartment.user.name %></p>
        <p>Bill: <%= @apartment.bill %></p>
        <p>Total Unpaid: <%= @apartment.unpaid %></p>
        <p>Total Unpaid and Overdue: <%= @apartment.unpaid_delay %></p>
      <% else %>
        <h2>Apartment Info:</h2>
        <h3>Apto: <%= @apartment.apt_number %></h3>
        <h4>Building: <%=@apartment.building.building_name%></h4>
        <p>Nome: <%= @apartment.user.name %></p>
        <p>Bill: <%= @apartment.bill %></p>
        <p>Your debit: <%= @apartment.unpaid %></p>
        <p>Debits overdue: <%= @apartment.unpaid_delay %></p>
      <% end%>

  <% if policy(@apartment).admin_view? %>
    <h3>Payments</h3>
    <button type="button" class="btn btn-light">
      <%= link_to 'New Payment', new_apartment_payment_path(@apartment) %>
    </button>
  <% else %>
    <h2>Your payments:</h2>
  <% end %>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Status</th>
      <th scope="col">Payment</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @apartment.payments.order(payment_date: :desc).each do |payment| %>
      <tr>
        <td><%= payment.payment_date %></td>
        <td><%= payment.deadline %></td>
        <td><%= payment.paid %></td>
        <td>
          <% if policy(@apartment).edit? %>
            <%= link_to 'Edit', edit_dog_path(@dog) %>
          <% end %>
          <% if policy(Apartment).new? %>
            <button type="button" class="btn btn-dark"><%= link_to 'New Dog', new_dog_path %></button>
          <% end %>
          <% if policy(@apartment).pay? %>
            <button type="button" class="btn btn-light"><%= link_to "Pay", "#" %></button>
          <% end %>
        </th>
      </td>
    <% end %>
    </table>
    <button type="button" class="btn btn-light"><%= link_to 'Back', user_apartments_path(current_user) %></button>
  </col-6>
  </div>
</div>
