<div class="container">
  <div class="row justify-content-center">
    <col-6 class="col-md-10">
    <h1>Apartment <%= @apartment.apt_number %></h1>
    <p><strong>Building: </strong><%= @apartment.building.building_name %></p>
      <% if policy(@apartment).admin_view? %>       
        <p><strong>Owner: </strong><%= @apartment.user.name %></p>
        <p><strong>Bill: </strong>  <%= @apartment.bill_cents %></p>
        <p><strong>Total Unpaid: </strong>R$<%= @apartment.unpaid %></p>
        <p><strong>Total Unpaid and Overdue: </strong>R$<%= @apartment.unpaid_delay %></p>
        <button type="button" class="btn btn-light"><%= link_to "Edit", edit_apartment_path(@apartment) %></button>
        <button type="button" class="btn btn-light"><%= link_to "Delete", apartment_path(@apartment), method: :delete, data: {confirm: "Are you sure?"} %></button>
      <% else %>
        <p><strong>Bill: </strong>R$<%= @apartment.bill_cents %></p>
        <p><strong>Your debit: </strong>R$<%= @apartment.unpaid %></p>
        <p><strong>Debits overdue: </strong>R$<%= @apartment.unpaid_delay %></p>
      <% end% %>

      <div class="card-schedule mt-5 mb-3">
      <h3 class="text-center">Payments</h3>
      <div class="text-center mb-2">
        <%= form_tag orders_path, method: :post %>
        <%= hidden_field_tag 'apartment_id', @apartment.id %>
        <%= submit_tag 'Create Payment', class: 'btn btn-light' %>
      </div>

  <% if policy(@apartment).admin_view? %>    
    <table class="table table-borderless">
        <thead class="thead-light">
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Status.</th>
          <th scope="col">Value</th>
          <th scope="col">Actions</th>
        </tr>
      </thead><% end %>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.created_at.to_date %></td>
            <td><%= order.state.capitalize %></td>
            <td>R$<%= order.amount %></td>
            <td><button type="button" class="btn btn-light"><%= link_to "Pay", new_order_payment_path(order, apartment_id: @apartment.id) %></button></td>
            </th>
          </td>
      </table>
      <% end %>
      </div>
    <button type="button" class="btn btn-light"><%= link_to 'Back', building_path(@building.id) %></button>
  </div>
</div> 
  